<!DOCTYPE html>
<html lang="pl" class="h-full bg-white scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/images/python-logo.png')}}">
    <meta name="theme-color" content="#1f2937" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head%}{% endblock %}
  </head>
  <body class="h-full mt-16">
    {% include  'navbar.html' %}
    {% block body%}{% endblock %}
    {% include  'footer.html' %}
  </body>
</html>