<nav class="bg-gray-800 fixed z-50 top-0 left-0 right-0">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img class="h-8 w-auto" src="{{ url_for('static', filename='images/python-logo.png') }}" alt="Python logo">
        </div>
        <div class="sm:ml-6">
          <div class="flex space-x-4">
            <a href="{{ base_url }}/" class="rounded-md px-3 py-2 text-sm font-medium 
                {% if request.path == '/' %} bg-gray-900 text-white {% else %} text-gray-300 hover:bg-gray-700 hover:text-white {% endif %}">
                Menu Główne
            </a>
            <a href="{{ base_url }}/data" class="rounded-md px-3 py-2 text-sm font-medium 
                {% if request.path == '/data' %} bg-gray-900 text-white {% else %} text-gray-300 hover:bg-gray-700 hover:text-white {% endif %}">
                Wykresy
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>